
body{
     background-color: gray;
   }
   table{
     width:60%;
     border-collapse: collapse;
   }
   th, td{
     border: 2px solid black;
     padding: 8px;
     text-align: center;
   }
   th{
     background-color: darkred;
     color: white;
   }
p{
  color: #500202;
  font-family: comic sans ms;
  font-size: 20px;
}