
body{
     background-color: gray;
   }
   table{
     width:60%;
     border-collapse: collapse;
   }
   th, td{
     border: 2px solid black;
     padding: 8px;
     text-align: center;
   }
   th{
     background-color: darkred;
     color: white;
   }
p{
  color: #500202;
  font-family: comic sans ms;
  font-size: 20px;
}

 #inicio {
    background-color: #500202;
    font-size: 30px;
    padding: 20px;
    border-bottom: 2px solid rgb(44, 7, 7);
    text-align: center;
  }

#harry {
  background-color: #500202;
  font-size: 30px;
  padding: 20px;
  border-bottom: 2px solid rgb(36, 0, 0);
  text-align: center;
}  

.form-container{
  max-width: 600px;
  margin: 30px auto;
  background-color: #fff5f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
border: 1px solid #dcb;
}

form{
  display: flex;
  flex-direction: column;
}

form label{
  margin-top: 15px;
  font-weight: bold;
  color: brown;
}

form input,
form select,
form textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
}

form button {
  margin-top: 25px;
  padding: 12px;
  font-size: 18px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3 ease;
}

form button:hover {
  background-color: #a0522a;
}